#root {
  width: 100%;
}

.app {
  background-color: #C8DCE9;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  height: 10vh;
  width: 100%;
}

.headerLeft, .headerCenter, .headerRight {
  width: 33.33%;
  height: 100%;
}

.headerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerTitle {
  color: #555555;
  font-size: 2em;
  font-weight: 300;
  cursor: pointer;
}

.headerTitle:hover {
  color: #555555;
  font-size: 2em;
  font-weight: 300;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.linkedinLogo, .githubLogo, .instagramLogo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 3vh;
  height: 3vh;
  padding-left: 1vh;
  transition: 0.2s;
}

.linkedinLogo:hover, .githubLogo:hover, .instagramLogo:hover {
  transform: scale(1.2);
}

.linkedinLogo {
  background-image: url('./assets/linkedin_gray.png');
}

.githubLogo {
  background-image: url('./assets/github_gray.svg');
}

.instagramLogo {
  background-image: url('./assets/instagram_gray.png');
  padding-right: 2vw;
}

.body {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1%;
}

.body div {
  background-color: #555555;
  background-clip: content-box;
  padding: 1%;
  height: 25vw;
  width: 48%;
  cursor: pointer;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryWrapper {
  width: 60vw;
  padding-bottom: 4vh;
}

@media (orientation: portrait) and (max-width: 480px) {
  .headerTitle {
    font-size: 1.5em;
  }

  .headerRight {
    justify-content: flex-end;
  }

  .linkedinLogo, .githubLogo, .instagramLogo {
    width: 2vh;
    height: 2vh;
    padding-left: 0.7vh;
  }

  .body {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    padding-bottom: 4%;
  }

  .body div {
    height: 80vw;
    width: 100%;
  }

  .instagramLogo {
    padding-right: 6%;
  }

  .galleryWrapper {
    padding-bottom: 4vh;
  }
}
@media (orientation: landscape) and (max-height: 480px) {
  .header {
    padding-top: 3vh;
  }

  .headerTitle {
    font-size: 1.5em;
  }

  .linkedinLogo, .githubLogo, .instagramLogo {
    width: 3vw;
    height: 3vw;
    padding-left: 1vw;
  }

  .galleryWrapper {
    padding-top: 4vh;
  }

  .galleryWrapper {
    padding-bottom: 8vh;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.reactModal {
  position: absolute;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.reactModalOverlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.85);
}