.root {
  position: relative;
  height: 100%;
}

.scrollPadding {
  margin: 0 -1rem; /* bust out of storybook margin (to demonstrate full bleed carousel) */
}

.scroll {
  position: relative;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  overscroll-behavior: contain;
  padding-inline-start: 0;
  margin: 0;
  height: 100%;
}

.scrollPadding .scroll {
  scroll-padding: 0 5%;
  padding: 0 5%;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.item {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snapPoint {
  scroll-snap-align: start;
}

.itemImageTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (orientation: landscape) {
  .itemImageTextWrapper {
    height: 85%;
  }

  .itemImage {
    height: 100%;
  }
}

@media (orientation: portrait) {
  .itemImageTextWrapper {
    width: 85%;
  }

  .itemImage {
    width: 100%;
  }
}

.itemText {
  display: flex;
  z-index: 100;
  color: #ededed;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  text-align: center;
  opacity: 0;
  transition: all 1000ms cubic-bezier(0.25, 1, 0.5, 1);
}

.itemActive .itemText {
  opacity: 1;
}

.itemTitle {
  font-size: 0.8em;
  margin-right: 1em;
}

.itemSubtitle {
  font-size: 0.8em;
  color: #ededed;
  opacity: 0;
  transition: opacity 1000ms cubic-bezier(0.25, 1, 0.5, 1);
}

.itemActive .itemSubtitle {
  opacity: 1;
}

.itemImage {
  display: flex;
  border: 0.5em solid #ededed;
  border-radius: 1em;
  margin-top: -0.5em;
}

.pageIndicator {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 5px;
  color: #374151;
  margin-right: 1vw;
}

.prevButton,
.nextButton {
  background: #ffffff4a;
  background-image: url(/src/assets/right-arrow.svg);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  transition: opacity 100ms ease-out;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border: none;
  position: absolute;
  padding: 0;
  top: 45vh;
  transition: 200ms;
}

.prevButton {
  left: 2vh;
  transform: rotate(180deg);
}

.nextButton {
  right: 2vh;
}

.prevButton:focus, .nextButton:focus {
  outline: none;
}

.prevButton:hover:enabled, .nextButton:hover:enabled {
  background: #ffffff96;
  background-image: url(/src/assets/right-arrow.svg);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}

/* hide buttons while on mobile since user can just scroll */
@media (orientation: portrait) and (max-width: 480px) {
  .prevButton,
  .nextButton {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 480px) {
  .prevButton,
  .nextButton {
    display: none;
  }
}

.prevButton[disabled],
.nextButton[disabled] {
  opacity: 0.2;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px;
}

.paginationItem {
  display: flex;
  justify-content: center;
}

.paginationButton {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background: #374151;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px;
  transition: opacity 100ms ease-out;
}

.paginationItemActive .paginationButton {
  opacity: 0.3;
}

@media only screen and (max-width: 480px) {
  .pagination {
    margin: 0 8px;
  }

  .prevButton,
  .nextButton {
    font-size: 15px;
  }

  .paginationButton {
    width: 9px;
    height: 9px;
    margin: 4px;
  }
}